.btn:hover {
    cursor: pointer;
}

.table-hover>tbody>tr:hover {
    cursor: pointer;
}

textarea {
    height: 10em;
    overflow-y: scroll;
    resize: none;
}

.btn-primary {
    cursor: pointer;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.table td {
    border-top: 1px solid #e8b0a4;
}

.table thead th {
    border-top: none;
    vertical-align: bottom;
    border-bottom: 1px solid #e8b0a4;
}

hr {
    border-top: 1px solid #e8b0a4;
}

.toasted.bubble {
    background-color: #ff4343 !important;
}

.table-hover>tbody>tr:hover {
    cursor: pointer;
}

a.next,
a.close {
    color: white !important;
}

.card-img-top {
    height: 350px;
    object-fit: contain;
}

.jumbotron {
    background: url(./bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10rem 2rem;
}

.jumbotron>.container {
    background-color: #ffffffd1;
    border-radius: 10px;
}